@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Ubuntu+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  @apply min-h-screen flex flex-col justify-between;
}

main {
  @apply grid md:grid-cols-2 grid-cols-1 gap-1 my-5 mx-auto w-8/12 md:max-w-full;
}

h1 {
  @apply mb-4 font-bold leading-none tracking-normal;
  @apply text-4xl md:text-5xl lg:text-6xl;
  @apply text-gray-900 dark:text-white;
}

h2 {
  @apply text-3xl font-semibold dark:text-white;
}

h3 {
  @apply text-2xl font-medium dark:text-white;
}

h4 {
  @apply text-xl;
}

select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white text-xl dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

button {
  @apply mx-1 text-sm bg-blue-500 hover:bg-blue-400 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded col-span-1 place-self-center w-min;
}

.clear {
  @apply bg-red-700 hover:bg-red-500 border-red-800 hover:border-red-600;
}

@media (max-width:960px){
  footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1px) and (max-width: 559px){
  main {
    display: flex;
    flex-direction: column;
  }

  .ship {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
  }

  .buttons {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: fit-content;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .color-square {
    width: 50%;
  }
}

