@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Ubuntu+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  @apply min-h-screen flex flex-col justify-between;
}

main {
  @apply flex flex-col my-5 mx-auto px-4;
  @apply md:grid md:grid-cols-2 gap-1;
  @apply w-full md:w-8/12 md:max-w-full;
}

h1 {
  @apply mb-4 font-bold leading-none tracking-normal;
  @apply text-4xl md:text-5xl lg:text-6xl;
  @apply text-gray-900 dark:text-white;
}

h2 {
  @apply text-3xl font-semibold dark:text-white;
}

h3 {
  @apply text-2xl font-medium dark:text-white;
}

h4 {
  @apply text-xl;
}

select {
  @apply rounded-lg block w-full p-2.5 mb-4 bg-gray-700 border-gray-600 placeholder-gray-400 text-white text-xl focus:ring-blue-500 focus:border-blue-500;
  @apply border border-gray-300 focus:border-blue-500;
}

button {
  @apply mx-1 text-sm  text-white font-bold py-1 px-2 border-b-4 rounded col-span-1 place-self-center w-min;
  @apply bg-blue-500 border-blue-700;
  @apply hover:bg-blue-400 hover:border-blue-500;
  @apply disabled:text-slate-500 disabled:bg-slate-700 disabled:border-slate-800 disabled:border-b-2;
}

.clear {
  @apply bg-red-700 hover:bg-red-500 border-red-800 hover:border-red-600;
}

select {
  @apply col-span-1 bg-gray-700 w-fit;
}

footer {
  @apply flex flex-row content-center justify-between p-4 text-slate-400;
  @apply max-lg:flex-col max-lg:items-center max-lg:text-center;
  @apply w-full md:w-10/12 md:max-w-full mx-auto;
}

footer a {
  @apply text-cyan-400 decoration-solid;
}

.mass-label {
  @apply font-semibold;
}

.wh-info {
  @apply w-full md:flex flex-col;
}

.wh-bar {
  @apply flex flex-row items-center;
  @apply w-full overflow-hidden rounded-lg col-span-full;
  @apply bg-slate-500;
}

.ship-bar {
  @apply relative h-8 p-1 flex-shrink-0 flex-grow-0 text-center overflow-hidden;
  @apply border-r-slate-400 border-solid border-r-2;
}
.ship-bar:first-child {
  @apply rounded-l-lg;
}

.ship-bar:last-child {
  @apply rounded-r-lg border-r-0;
}

.ships-list {
  @apply col-span-2 content-center;
}

.warning-line {
  @apply absolute right-3/11 top-0 h-10 z-10 border-red-700 border-r-2;
}
